{% load cms_tags staticfiles sekizai_tags menu_tags bs3_string_utils %}
<!doctype html>
<html class="{{ bs3_conf.BOOTSTRAP3_MENU_TEMPLATE|only_file_name }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}DjangoCMS Bootstrap Theme{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block bs3_theme_css %}
            {% if bs3_conf.BOOTSTRAP3_FORCE_SRC %}
                <link rel="stylesheet" href="{% static 'cms_bs3_theme/src/css/default.css' %}">
            {% else %}
                <link rel="stylesheet" href="{% static 'cms_bs3_theme/dist/css/default.css' %}">
            {% endif %}
        {% endblock %}
        {% render_block "css" %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% cms_toolbar %}
        {% block header %}
            {% include bs3_conf.BOOTSTRAP3_MENU_TEMPLATE %}
        {% endblock %}
        {% block content %}{% endblock content %}
        {% block footer %}{% endblock %}
        {% block bs3_theme_js %}
              <script src="{% static 'cms_bs3_theme/src/libs/jquery/dist/jquery.js' %}"></script>
              <script
                      src="{% static 'cms_bs3_theme/src/libs/bootstrap-sass/assets/javascripts/bootstrap.js' %}">
              </script>
        {% endblock %}
        {% render_block "js" %}
    </body>
</html>
