{% bs3_extends "cms_bs3_theme/base_theme.html" %}
{% load i18n cms_tags menu_tags math %}

{% block body_class %}tpl-sidebar-left{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <aside class="col-md-{{ bs3_conf.BOOTSTRAP3_SIDEBAR_COLS }}">
                <h3 class="sr-only">{% trans "Sidebar" %}</h3>

                {% block sidebar %}
                    {% with 260 as width %}{% placeholder sidebar %}{% endwith %}
                {% endblock sidebar %}
            </aside>
            <div class="col-md-{{ bs3_conf.BOOTSTRAP3_COLS|subtract:bs3_conf.BOOTSTRAP3_SIDEBAR_COLS }}">
                {% block subnav %}
                    {% page_attribute menu_title request.current_page.get_root as subtitle %}
                    <ul class="nav navbar-sidenav">
                        {#                        {% show_menu 1 5 0 1 "includes/menu/navigation.html" %}#}
                    </ul>
                {% endblock subnav %}
                {% block main %}
                    {% with 660 as width %}{% placeholder content %}{% endwith %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}